@import "tailwindcss";

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    background: white !important;
    box-shadow: none !important;
  }

  button,
  a {
    display: none !important;
  }
}
select option {
  background-color: #020617;
  color: white;
}